html {
    background-color:gray;
}
body {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    font-family: "Tiems New Roman", Times, serif;
    font-weight: bold;
    color: #333333;
}

.topnav {
    background-color: white;

    padding: 40px 10px 50px 10px;
}

.infobox {

}

.albumArt {
    padding-top: 15px;
    padding-left: 27%;
    padding-bottom: 20px;
}

.divider {
    width: 10px;
}

.container {
    width: 98% !important;
    margin: auto !important;
}

#viewPort {
    height: 800px;
    border: 2px solid black;
    background: #999999;
    display: inline-block;
    width: 50%;
}

#cdList {
    height: 800px;
    border: 2px solid black;
    background: #999999;
    display: inline-block;
    width: 45%;
}
#coupledList {
    display: run-in;
    position: relative;
}

#tableContents > tr:hover {
    cursor: pointer;
    background-color: #CCCCCC;
}
#submitButton {

}